
body{
    margin:0;
    font-family: 'Arima', cursive;
    font-family: 'Montserrat', sans-serif;
}
h1{
    color:rgb(216, 22, 8);
    font-size:30px;
}
h5{
    color:rgba(209, 231, 7, 0.938);
    font-size:30px;
}
h4{
    color:rgba(197, 24, 24, 0.945);
    font-size:60px;
}

h6{
    font-size:18px;
    color:rgb(160, 8, 8);
}
.banner{
    width:100%;
    height:100vh;
    background-image: url(images/donation9.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    width:100%;
    position: absolute;
    top:40%;
    text-align:center;
    color:rgb(140, 17, 156);
    font-size:25px;
    font-weight: 700;
}

.link-button{
    text-decoration: none;
    padding:10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    background-image: linear-gradient(rgb(156, 52, 34),orange);
}

.flexble-contain{
 
    margin-bottom:100px;
    display: inline-flex;
}

.donate-item{
    box-shadow: 10px 10px 40px rgb(231, 222, 222) ;
    width:80%;
    margin-left:800%;
    margin-right: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-align: center;
    margin:50px 40px;
    
}
.content-1{
    text-align: center;
    padding:80px;
    color:rgb(211, 121, 12);
}
.half-width{
    width:50%;
    padding:5%;
}

.half-width img{
    width:80%;
    border:5px solid tomato;
    border-radius: 15px;
   
}

.flexible-container{
    display:flex;
    margin-bottom:100px;

}

.flexible-container-2{
    display:flex;
    margin-bottom:100px;
}

.donate-item-2{
    box-shadow: 10px 10px 40px rgb(231, 222, 222) ;
    width:335px;
    height:365px;
    margin-left:800%;
    margin-right: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-align: center;
    margin:50px 40px;
    position:relative;
    
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.flexble-contain-1{
 
    margin-bottom:100px;
    display: inline-flex;
}

.donate-item-4{
    box-shadow: 10px 10px 40px rgb(231, 222, 222) ;
    width:335px;
    height:280px;
    margin-left:800%;
    margin-right: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-align: center;
    margin:50px 40px;
    position:relative;
    font-size:20px;
}

.box1{
    width:600px;
    height:50px;
    border: 0px solid bisque;
    border-radius: 20px;
    padding:40px;
    margin:0 auto;
    background-color:beige;
    margin-top: 20px;
}

#bac-color-1{
    background-color: beige;
}
#bac-color-2{
    background-color: antiquewhite;
}
#bac-color-3{
    background-color:azure;
}
.from-box{
    padding:10px;
    border-radius: 5px;
    
    
}
#color-4{
    background-color: rgb(226, 219, 211);
width:200px;
 height:50px;
}
.color-2{
 background-color: rgb(185, 79, 79);
 width:100px;
 height:50px;
}

.footer-width-1{
    width:100%;
    padding:5%;
    background-color: rgb(29, 27, 27);
    text-align:center;
    color:rgb(171, 206, 13);
    font-size:25px;
}

